.userCard {
    background-color: #fffaf0; 
    border: 1px solid #e0dcd8; 
    padding: 1.5rem; 
    border-radius: 12px;
    width: 250px; 
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
    transition: transform 0.2s ease-in-out;
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    min-height: 200px; 
  
    &:hover {
      transform: scale(1.02);  
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);  
    }
    
    h3 {
      color: #4d4d4d; 
      margin-top: 0;
      font-size: 16px;
      overflow: hidden; 
      white-space: normal;
      text-overflow: ellipsis;
    }
    
    .label {
      font-size: 16px;
      color: #3b122f;  
      font-weight: bold;
    }
    
    .value {
      font-size: 16px;
      color: #535353; 
      overflow: hidden; 
      white-space: normal; 
      text-overflow: ellipsis; 
    }
  }
  
  
  @media (max-width: 1200px) {
    .userCard {
        width: 220px;
    }
  }
  
  @media (max-width: 992px) {
    .userCard {
        width: 180px;
    }
    h3, .label, .value {
        font-size: 15px;
    }
  }
  
  @media (max-width: 768px) {
    .userCard {
        width: 150px;
        padding: 1rem;
    }
    h3, .label, .value {
        font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .userCard {
        width: 100%;
        padding: 0.75rem;
    }
    h3, .label, .value {
        font-size: 12px;
    }
  }